<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarte, <%= @user.first_name %></h1>
    <p>
      Tu numero de matrícula es: <%= @user.coda %>.<br>
      Agradecemos tu participación en el primer congreso de Ingenierias del día de la IEEE.
      En los próximos días recibirás un certificado por tu participación a tu correo electrónico.
    </p>
  </body>
</html>
