 <div class="sessions">
  <h1>Inicio de Sesión para Administradores</h1>
  <%= form_tag 'admin/login' do %>
    <div class="form-group">
      <%= label_tag :email, nil, class: 'control-label' %>
      <%= text_field_tag :email, nil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'Contraseña', nil, class: 'control-label' %>
      <%= password_field_tag :password, nil, class: 'form-control' %>
    </div>
    <%= submit_tag "Entrar", class: 'btn btn-default' %>
  <% end %>
 </div>
