<div class="user-form">
  <h1>Forma de registro</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, label: "Nombre(s)" %>
    <%= f.input :last_name, label: "Apellido(s)" %>
    <%= f.input :coda, label: "Matrícula", hint: "Formato: al00000000" %>
    <%= f.input :workshop, label: "Taller", collection: @talleres,
            as: :select, group_method: :talleres, hint: "Selecciona un taller si asistirás a uno (Cupo limitado a 25 personas)" %>
    <%= f.submit "Registrarme", class: "btn btn-primary" %>
  <% end %>
</div>
