$fun-font: 'Ubuntu', sans-serif;
body{
  margin:0;
  width: 100%;
  h1{
    font-family: $fun-font;
    text-align: center;
    margin-bottom: 20px;
  }

  header{
    .logo{
      display: inline-block;
      float: left;
    }
  }
}
