.user-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 20px;
  .btn {
    margin-top: 20px;
    width:100%;
  }
}
