<%= link_to "Cerrar Sesión", admin_logout_path, class: 'btn btn-primary' %>

<p>
  Descargar:
  <%= link_to "Excel", admin_users_path(format: "csv") %> |
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre(s)</th>
      <th>Apellidos</th>
      <th>Matrícula</th>
      <th>Taller</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.coda %></td>
        <td><%= user.workshop %></td>
      </tr>
    <% end %>
  </tbody>
</table>
